<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit-tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Habit Tracker</h1>

    <form action="/add" method="post">
        <input 
        type="text" 
        name="Habit" 
        placeholder="New habit" 
        required>
        <button type="submit">Add</button>
    </form>

    {%if habits %}
    <table>
        <thead>
            <tr>
                <th>Hábito</th>
                {% for day in days %}
                <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for habit in habits %}
            <tr>
                <td>{{ habit.name }}</td>
                {% for day in days %}
                <td>
                    <form action="/toggle"  method="post" style="display: inline;">
                        <input type="hidden" name="habit_name" value="{{ habit.name }}">
                        <input type="hidden" name="date" value="{{ day }}">
                        <input type="checkbox" name="done" onchange="this.form.submit()"  {% if day in habit.days %}checked{% endif %}>
                    </form>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Nenhum Hábito cadastrado ainda</p>
        {% endif %}
</body>
</html>